[Bb]in
[Oo]bj
*.user
*.suo
*.eto
_ReSharper.Rubicon.Correspondence.*
*.resharper
PictureSorter/bla/a.png
PictureSorter/bla/Screenshot from 2023-06-30 20-45-09.png
PictureSorter/bla/Screenshot from 2023-07-10 08-49-20.png
PictureSorter/bla/Screenshot from 2023-07-31 16-11-55.png
