<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="JpegLoslessRotate" value="C:\Program Files\JPEG Lossless Rotator\jpegr.exe"/>
    <add key="EditProgram" value="C:\Program Files\GIMP 2\bin\gimp-2.8.exe"/>
  </appSettings>
</configuration>
